html {
  height: 100%;
  width: 100%;
}
body {
  min-height: 100%;
  font-family: Roboto, sans-serif;
  background-color: #e5e5e5;
  background-image: url(pics/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0;
  padding: 0;
}

h1 {
  font-size: 53.2px;
  color: #ffffff;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-size: 36.4px;
}

h6 {
  font-size: 13.6px;
}

.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 24px;

  align-items: center;
  vertical-align: middle;
  padding-top: 65px;
}

a,
a:hover {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
}

.logo-text {
  font-size: 18px;
}

nav li {
  display: inline-block;
  list-style-type: none;
  padding-right: 30px;
  text-transform: uppercase;
  font-size: 15px;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img,
label image {
  vertical-align: center;
  vertical-align: middle;
}

.download_pic {
  margin: 0px;
  line-height: 24px;
  align-items: center;
}

.logo {
  float: left;
  padding-left: 139px;
}

.navbar-toggle {
  display: none;
  float: right;
  width: 22px;
  height: 14px;
  background: url("pics/menu.svg");
}

.white-content-block {
  max-width: 1380px;
  min-width: 405px;
  min-height: 2045px;
  max-height: 3718px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 2px 24px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  margin-top: 123px;
  margin-bottom: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.key-message {
  width: 549px;
  padding-left: 75px;
  padding-top: 124px;
}

.key-message__text {
  color: #ffffff;
  font-size: 18.2px;
  line-height: 21.33px;
  font-weight: 400;
}

button {
  width: 179px;
  height: 54px;
  background-color: #f44336;
  box-shadow: 0px 2px 2px rgba(244, 67, 54, 0.14);
  border-radius: 3px;
  border-color: none;
  margin-top: 40px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.text-block1 {
  color: #3c4858;
  text-align: center;
  padding-top: 95px;
}

.text-block {
  padding: 0 323px;
}

.text-block2 {
  text-align: center;
  font-size: 17.5px;
  font-weight: 300;
  color: #999999;
}

.feachers_1 {
  display: grid;
  grid-template-columns: repeat(3, 328px);
  width: 100%;
  height: 204px;
  justify-items: center;
  justify-content: space-around;
  padding: 68px 104px 200px;
  text-align: center;
}
.feachers {
  margin: 0px;
  font-size: 20px;
}
.text-block3 {
  color: #3c4858;
  text-align: center;
}

.team-description {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 350px);
  text-align: center;
  justify-items: center;
  justify-content: space-around;
  padding-bottom: 183px;
}
.model_font-color {
  margin: 0px;
}

.social-links {
  text-align: center;
  margin-right: 15%;
}
.sm-items {
  color: #999999;
  display: inline-block;
  align-items: center;
  padding: 0px 10px;
}

.form-text {
  text-align: center;
  width: 753px;
  padding-bottom: 40px;
  color: #999999;
  font-size: 18.2px;
}

.form-name,
.form-message {
  width: 753px;
}

.form-name {
  display: inline-block;
  width: 100%;
}

input {
  width: 361px;
}

textarea {
  width: 100%;
  padding-bottom: 10px;
}

input :active {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #9c27b0;
}

textarea :active {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #9c27b0;
}

input,
textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #d2d2d2;
}

.form-button {
  width: 148px;
  height: 41px;
  background-color: #9c27b0;
  border: 0px;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.button-center {
  display: flex;
  justify-content: center;
}

.additional_text-Email,
.additional_text-name {
  color: #9c27b0;
  font-size: 10px;
  padding-bottom: 4px;
}

.additional_text-name {
  padding-left: 3px;
}

.additional_text-Email {
  padding-left: 335px;
}

.form-message {
  font-size: 12px;
  padding-top: 7px;
  padding-left: 3px;
}

span {
  color: #999999;
}

.team-description_text {
  font-size: 14px;
}

.model_font-color {
  color: #777777;
  margin-bottom: 35px;
  margin-top: 0px;
}

.team-description_names {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18.2px;
}
.foto_pic {
  padding-bottom: 0px;
}

#footer {
  width: 1093px;
}
#footer a {
  color: black;
  font-size: 12px;
}

.footer_li {
  display: inline-block;
  list-style-type: none;
}
.f_li {
  color: black;
  font-size: 12px;
  display: inline-block;
  padding-right: 33px;
}
.footer_text {
  float: right;
}

@media screen and (max-width: 768px) {
  .Header {
    display: inline;
    background-color: rgba(91, 91, 91, 0.5);
    height: 70px;
    width: 786px;
    z-index: 1;
  }
  .white-content-block {
    width: 748px;
  }
}
@media screen and (max-width: 480px) {
  .main-menu {
    display: none;
  }
  .navbar-toggle {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */
