/** @format */
html {
  height: 100%;
  width: 100%; }

body {
  min-height: 100%;
  font-family: Roboto, sans-serif;
  background-color: #e5e5e5;
  background-image: url(pics/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0; }

#Content {
  margin: auto;
  max-width: 1380px; }

h1 {
  font-size: 53.2px;
  color: #ffffff;
  text-align: left;
  display: flex;
  flex-wrap: wrap; }

h2 {
  font-size: 36.4px; }

h6 {
  font-size: 13.6px; }

.Header {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 27px;
  overflow: hidden; }

a {
  color: #ffffff;
  text-decoration: none;
  font-style: normal; }

a:hover {
  color: #7a7585;
  background: darkgrey;
  border-radius: 6px; }

nav li {
  display: inline-block;
  list-style-type: none;
  padding-right: 30px;
  text-transform: uppercase;
  font-size: 15px; }

.main-menu {
  float: right; }

nav img,
label image {
  vertical-align: center;
  vertical-align: middle; }

.download_pic {
  margin: 0px;
  line-height: 24px;
  align-items: center; }

.logo {
  float: left;
  font-size: 18px;
  padding-top: 13px; }

.navbar-toggle {
  display: none;
  float: right;
  width: 22px;
  height: 14px;
  background: url("pics/menu.svg"); }

.white-content-block {
  min-height: 2045px;
  max-height: 4442px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 2px 24px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  margin: 0 auto 100px;
  padding: 0px 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1; }

.key-message {
  font-size: 16px;
  max-width: 549px;
  padding-left: 4.6875em;
  padding-top: 124px;
  padding-bottom: 121px; }

.intro_text {
  width: 90%;
  float: left; }

.key-message__text {
  color: #ffffff;
  font-size: 1.1375em;
  line-height: 21.33px;
  font-weight: 400; }

button {
  width: 179px;
  height: 54px;
  background-color: #f44336;
  border-radius: 3px;
  border-color: none;
  margin-top: 40px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff; }

.text-block1 {
  font-size: 36.4px;
  font-style: normal;
  color: #3c4858;
  text-align: center;
  padding-top: 95px; }

.text-block {
  width: 80%;
  box-sizing: border-box; }

.text-block2 {
  text-align: center;
  font-size: 17.5px;
  font-weight: 300;
  color: #999999; }

.feachers_1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 328px);
  grid-gap: 100px;
  width: 100%;
  justify-items: center;
  justify-content: space-around;
  padding: 68px 4px;
  text-align: center;
  z-index: 10; }

.feachers {
  margin: 0px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px; }

.team {
  padding-top: 100px; }

.text-block3 {
  color: #3c4858;
  text-align: center; }

.team-description {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 100px;
  text-align: center;
  justify-items: center;
  justify-content: space-around;
  padding-bottom: 183px;
  z-index: 100; }

.model_font-color {
  margin: 0px; }

.team_link {
  color: #9c27b0; }

.social-links {
  text-align: center;
  margin-right: 15%; }

.sm-items {
  color: #999999;
  display: inline-block;
  align-items: center;
  padding: 0px 10px; }

.contact-form {
  max-width: 753px;
  min-width: 361px;
  margin-bottom: 75px; }

.form_grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 361px);
  grid-gap: 25px;
  justify-content: center; }

.form-text {
  text-align: center;
  padding: 0 20px 40px;
  color: #999999;
  font-size: 18.2px; }

.form-message {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(361px, 753px));
  justify-content: center; }

input {
  width: 361px; }

textarea {
  width: 100%;
  padding-bottom: 10px; }

input:focus {
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #9c27b0; }

textarea:focus {
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #9c27b0;
  cursor: pointer; }

input,
textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #d2d2d2; }

.form-button {
  width: 148px;
  height: 41px;
  background-color: #9c27b0;
  border: 0px;
  color: white;
  text-align: center;
  margin-top: 20px; }

.button-center {
  display: flex;
  justify-content: center; }

.additional_text-Email,
.additional_text-name {
  color: #9c27b0;
  font-size: 10px;
  padding-bottom: 4px; }

.additional_text-name {
  padding-left: 3px; }

.additional_text-Email {
  padding-left: 335px; }

.form-message {
  font-size: 12px;
  padding-top: 7px;
  padding-left: 3px; }

span {
  color: #999999; }

.team-description_text {
  font-size: 14px; }

.model_font-color {
  color: #777777;
  margin-bottom: 35px;
  margin-top: 0px; }

.team-description_names {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18.2px; }

.foto_pic {
  padding-bottom: 0px; }

#footer {
  max-width: 1139px;
  margin: 0 auto;
  padding-bottom: 20px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

#footer a {
  color: black;
  font-size: 12px; }

.footer_li {
  display: inline-block;
  list-style-type: none; }

.f_li {
  color: black;
  font-size: 12px;
  display: inline-block;
  padding-right: 30px; }

.footer_text {
  float: right;
  padding-top: 15px; }

@media screen and (min-width: 1600px) {
  body {
    background-size: 1550px;
    background-position-x: center; } }
@media screen and (max-width: 1039px) {
  .feachers_1 {
    display: grid;
    grid-template-columns: repeat(1, 358px); }

  .white-content-block {
    max-width: 95%; }

  .team {
    padding-bottom: 50px; } }
@media screen and (max-width: 1039px) and (max-width: 768px) {
  .Header {
    display: inline-block;
    background-color: #5b5b5b;
    height: 67px;
    z-index: 1; }

  .key-message {
    font-size: 14px; }

  .white-content-block {
    max-width: 100%; }

  .form-message {
    width: 362px;
    margin: 0 auto; }

  .footer_text {
    text-align: center;
    justify-self: center; } }
@media screen and (max-width: 1039px) and (max-width: 480px) {
  .main-menu {
    display: none; }

  .navbar-toggle {
    display: block; }

  .white-content-block {
    width: 480px; }

  .form-message {
    width: 362px;
    text-align: center; } }
@media screen and (max-width: 1039px) {
  /*# sourceMappingURL=style.css.map */ }

/*# sourceMappingURL=style.css.map */
